


.b-check{
  border:1px solid red;
  padding: 5px 50px
}
body{
}

div.looks-container{
  overflow: scroll;
  height: 350px;
  background-color: white;
}
.grid-img{
  width: 150px;
}
.header {
  font-size: 1.8em;
  height: 100px;
  padding: 20px 0;

}
.icon-btn{
  color: red;
  width: 18%;
}

.row-footer{
  background-color: gray;
}
.row-icons{
  height: 100px;
}


span.logo-text{
font-size: 20px;
}



