
@media screen and (max-width:900px) {
  .img-section{
    /*height: 500px;*/
  }
  .row-looks{
    /*height: 500px;*/
  }
  div.looks-container{
    /*height: 500px;*/
  }
}

@media screen and (min-width:320px) {
  .row-looks{
    height: 294px;
  }
  div.looks-container{
  overflow: scroll;
  height: 350px;
  background-color: white;
  }
  .row-looks-container{
    /*height: 480px; */
  }
}



.a-tags{
  margin: 0 .4em;
}
.b-check{
  border:1px solid red;
  padding: 5px 50px
}
body{
  position: relative;
}

.border-thin{
  border: 1px solid black;
}
.border-btm{
  border-bottom: 1px solid black;
}
.border-rt{
  border:none;
  border-right: 1px solid black;
}

.border-lt{
  border-left: 1px solid black;
}
.border-none{
  border: none;
}
.btn-active{
  background-color: orange;
  color: blue;
}
#currentUser{
  margin-right: .5em;
  color: orange;
}
.fav-btn{
  width: 100%;
  height: 3.8em;
  padding: 0 auto;
  margin: 0 auto;
}
.fav-header{
  background-color: #FF0080;
  color:black;
  padding: .3em;
}
.fav-header a{
  text-decoration: none;
  color:white;
}
button.fav-active{
 background-color: orange;
}
.fixed-top{
  position: fixed;
  background-color: white;
  z-index: 3000;
  padding: 5px;
  width:69%;
}
.grid-img{
  
}

.header {
  font-size: .8em;
  padding: 20px 0;

}
.icon-btn{
  font-size: .7em;
  color: red;
  background-color: white;
  height: 3em;
  width: 18%;
  padding:0;
  /*margin: 0 .19em 0 0;*/

}

img{
  margin: 0 auto;
}
.margin-top-20{
  margin-top: 20px;
}
.pad-footer{
  padding: 1em 0;
}
.pad-50{
  padding: 5px;
}

.red{
  position: relative;
  bottom:19px;
  right: -125px;
  color:red;
  background-color: white;
  border: 1px solid black;
}
.row-footer{
  background-color: gray;
  height: 4em;
}


.row-icons{
  height: 4em;
}
.row-looks{
}

span.icon-pad{
}
span.logo-text{
font-size: 20px;
margin: 20px 0;
}

.top-pad-7{
  padding-top: 7px;
}

