@import url(//fonts.googleapis.com/css?family=Questrial);

*/
/*
pink- #F2385A
deepblue - #36B1BF
lightblue - #4AD9D9
orange - #F5A503
lightgreen - #E9F1DF
*/
body{
  background-color: white;
  min-width: 320px;
  font-family: 'Questrial', sans-serif;

}

.secondaryColor{
  color: #F5A503;  /*orange*/
}


/*******************************/
.pink-btm{
 border-bottom: 10px solid rgba(242,56,90, 0.4);
}

.a-tags{
}
a.a-tags{
  text-decoration: none;
  color: #36B1BF;
  /*color:black;*/
}
.a-header{
  color: #36B1BF;
}
#arrow{
  position: fixed;
  bottom: 7em;
  right: 1em;
  font-size: 1em;
  color: #4AD9D9;
  border:1px solid;
  padding: 0.5em;
  border-radius: 45%;
}
#arrow:hover, #arrow-down:hover{
  color: #F2385A;
}
#arrow-down{
  position: fixed;
  bottom: 3em;
  right: 1em;
  font-size: 1em;
  color: #4AD9D9;
  border:1px solid;
  padding: 0.5em;
  border-radius: 45%;
}
.b-check{
  border:1px solid red;
  padding: 5px 50px
}

.border-thin{
  border: 1px solid black;
}
.border-btm{
  border-bottom: 1px solid black;
}
.border-rt{
  border:none;
  border-right: 1px solid black;
}

.border-lt{
  border-left: 1px solid black;
}
.border-none{
  border: none;
}
.btn-active{
  background-color: #F5A503;
  color: blue;
}
button.close-img:hover{
  border: 2px solid #F2385A; 
}  
button.fav-active{
 /*background-color: #F5A503;*/
 border:2px solid #F5A503 ;
}
button.icon-btn:hover{
  border: 2px solid #36B1BF; 
}
button.icon-btn:active{
  border: 2px solid #F5A503; 
}
button.icon-btn:focus {outline:none;}

#currentUser{
  margin-right: .5em;
  color: #F5A503;
}
.current{
  color: #F2385A;
}
.close-img{
  border: 2px solid #4AD9D9;
  background-color: #4AD9D9;
  position: relative;
  bottom: 3em;
  opacity: .5;
}
.collapse-btn{
  width: 100%;
  height: 3.8em;
  padding: 0 auto;
  margin: 0 auto;
  color: #36B1BF;
  background-color: #EDEDED;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.6;
}
.error{
  color: #F2385A;
}
.fav-btn{
  width: 100%;
  height: 3.8em;
  padding: 0 auto;
  margin: 0 auto;
  color: #36B1BF;
}

button.fav-btn:hover{
  border:2px solid #36B1BF;
  outline: none;
}
.fav-header{
  color:black;
  padding: .3em;
}
.fav-header a{
  text-decoration: none;
  color: #36B1BF;
  padding: 5px;
  border:1px solid;
}
.fixed-fav{
  position: fixed;
  top: 7.14em;
  left: 3.7em;
  z-index: 3300;
}
.fixed-top{
  position: fixed;
  background-color: white;
  z-index: 3000;
  padding: 5px;
  width:69%;
}
.fixed-top2{
  font-size: .7em;
  position: fixed;
  right: 16px;
  background-color: #E9F1DF;
  z-index: 3000;
  padding: .3em;
  opacity: .8;
  border:1px solid #36B1BF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 52px;
}
.grid-img{
  
}
.glyphicon-arrow-up{
  font-size: 2em;
}
.header {
  font-size: 1em;
  padding: 20px 0;
  color: #4AD9D9;
}
.head-title{
  font-size: 2em;
  color: #F2385A;
  margin: 1em 0;
}
.icon-btn{
  font-size: 1em;
  color: #4AD9D9;
  background-color: white;
  height: 3em;
  width: 18.0%;
  padding:0;
  /*margin: 0 .19em 0 0;*/
}
/*.icons-row{
  padding: 0.5em;
  margin-top: 2.14em;
}*/
.row-icons{
  padding: 0.5em;
  margin: 2.14em 0;
}
img{
  margin: 0 auto;
}
.margin-top-20{
  margin-top: 20px;
}
#menu-collapse{
  color: #F2385A;
}
.pad-footer{
  padding: 1em 0;
}
.pad-50{
  padding: 5px;
}

.red{
  position: relative;
  bottom:19px;
  right: -125px;
  color:red;
  background-color: white;
  border: 1px solid black;
}

span.icon-pad{
}
span.logo-text{
font-size: 1.5em;
color: #F2385A;
margin: 20px 0;
}


.top-pad-7{
  padding-top: 7px;
}

