


.b-check{
  border:1px solid red;
  padding: 5px 50px
}
body{
}

.border-thin{
  border: 1px solid black;
}
.border-btm{
  border-bottom: 1px solid black;
}
.border-rt{
  border:none;
  border-right: 1px solid black;
}

.border-lt{
  border-left: 1px solid black;
}
.border-none{
  border: none;
}
div.looks-container{
  overflow: scroll;
  height: 330px;
  background-color: white;

}
.fav-btn{
  width: 100%;
  height: 3.8em;
  padding: 0 auto;
  margin: 0 auto;
}
.grid-img{
  width: 150px;
}
.header {
  font-size: 1.3em;
  padding: 20px 0;

}
.icon-btn{
  font-size: .7em;
  color: red;
  background-color: white;
  height: 3em;
  width: 18%;
  padding:0;
  /*margin: 0 .19em 0 0;*/

}

img{
  margin: 0 auto;
}
.margin-top-20{
  margin-top: 20px;
}
.pad-footer{
  padding: 1em 0;
}
.pad-50{
  padding: 5px;
}
.row-footer{
  background-color: gray;
  height: 4em;
}


.row-icons{
  height: 4em;
}
.row-looks{
}

span.icon-pad{
}
span.logo-text{
font-size: 20px;
margin: 20px 0;
}


